<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Principal</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="home-body">
<div class="menu-container">
    <!-- Botão de Sair -->
    <a th:href="@{/logout}" class="btn-logout">
        <img th:src="@{/image/icon-logout.png}" alt="Sair Icon" class="logout-icon">
        Sair
    </a>

    <div class="logo">
        <img th:src="@{/image/logo.png}" alt="SafeZone Logo">
    </div>

    <div class="menu-grid">
        <a th:href="@{/chat}" class="menu-item">
            <img th:src="@{/image/icon-chat.png}" alt="Dúvidas">
            <span>Dúvidas</span>
        </a>

        <a th:href="@{/alerts}" class="menu-item">
            <img th:src="@{/image/icon-alerts.png}" alt="Alertas">
            <span>Alertas</span>
        </a>

        <a th:href="@{/areas-seguras}" class="menu-item">
            <img th:src="@{/image/icon-safe-areas.png}" alt="Áreas Seguras">
            <span>Áreas Seguras</span>
        </a>

        <a th:href="@{/campanhas}" class="menu-item">
            <img th:src="@{/image/icon-campaigns.png}" alt="Campanhas">
            <span>Campanhas</span>
        </a>

        <a th:href="@{/usuario/perfil}" class="menu-item">
        <img th:src="@{/image/icon-profile.png}" alt="Perfil">
            <span>Perfil</span>
        </a>

        <a th:href="@{/reports}" class="menu-item">
            <img th:src="@{/image/icon-reports.png}" alt="Relatórios">
            <span>Relatórios</span>
        </a>
    </div>
</div>
</body>
</html>