<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<section layout:fragment="conteudo">
    <h2>Bem-vindo ao SafeZone</h2>
    <p>Este é o seu painel principal.</p>
    <ul>
        <li><a th:href="@{/perfil}">Ver Perfil</a></li>
        <li><a th:href="@{/ocorrencias}">Visualizar Ocorrências</a></li>
        <li><a th:href="@{/ocorrencias/nova}">Nova Ocorrência</a></li>
        <li><a th:href="@{/chat}">Conversar com IA</a></li>
    </ul>
</section>
</html>