<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - SafeZone</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap">
</head>
<body class="login-body">
<div class="login-container">
    <h1><img th:src="@{/image/logo.png}" class="logo" alt="Logo Icon"></h1>

    <form action="/register" method="post" class="login-form">
        <div class="input-group">
            <img th:src="@{/image/icon-user.png}" class="input-icon" alt="User Icon">
            <input type="text" name="nome" placeholder="Nome" required>
        </div>

        <div class="input-group">
            <img th:src="@{/image/icon-email.png}" class="input-icon" alt="Email Icon">
            <input type="email" name="email" placeholder="Email" required>
        </div>

        <div class="input-group">
            <img th:src="@{/image/icon-lock.png}" alt="Password Icon" class="input-icon">
            <input type="password" name="senha" placeholder="Senha" required>
        </div>

        <button type="submit" class="btn-primary">Cadastrar</button>
    </form>

    <hr class="divider">

    <a th:href="@{/oauth2/authorization/google}" class="btn-google">Cadastrar com Google</a>

    <p class="register-link">
        Já possui uma conta? <a th:href="@{/login}">Entrar</a>
    </p>
</div>
</body>
</html>